<a href="https://colab.research.google.com/github/AkshayBhansali18/ML-Models/blob/master/PartyPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import keras

In [0]:
import pandas as pd
import numpy as np

In [39]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [0]:
feature_names =  ['party','handicapped-infants', 'water-project-cost-sharing', 
                    'adoption-of-the-budget-resolution', 'physician-fee-freeze',
                    'el-salvador-aid', 'religious-groups-in-schools',
                    'anti-satellite-test-ban', 'aid-to-nicaraguan-contras',
                    'mx-missle', 'immigration', 'synfuels-corporation-cutback',
                    'education-spending', 'superfund-right-to-sue', 'crime',
                    'duty-free-exports', 'export-administration-act-south-africa']

dataset=pd.read_csv('/gdrive/My Drive/house-votes-84.data.txt',na_values='?',names=feature_names)

In [40]:
dataset.head()

    party  ...  export-administration-act-south-africa
5       1  ...                                     1.0
8       0  ...                                     1.0
19      1  ...                                     1.0
23      1  ...                                     1.0
25      1  ...                                     1.0

[5 rows x 17 columns]

In [0]:
dataset.replace(to_replace=('y','n'),value=(1,0),inplace=True)

In [0]:
dataset.replace(to_replace=('democrat','republican'),value=(1,0),inplace=True)

In [8]:
dataset.head()

   party  ...  export-administration-act-south-africa
0      0  ...                                     1.0
1      0  ...                                     NaN
2      1  ...                                     0.0
3      1  ...                                     1.0
4      1  ...                                     1.0

[5 rows x 17 columns]

In [0]:
dataset.dropna(inplace=True)

In [10]:
dataset.head()

    party  ...  export-administration-act-south-africa
5       1  ...                                     1.0
8       0  ...                                     1.0
19      1  ...                                     1.0
23      1  ...                                     1.0
25      1  ...                                     1.0

[5 rows x 17 columns]

In [11]:
dataset.describe()

            party  ...  export-administration-act-south-africa
count  232.000000  ...                              232.000000
mean     0.534483  ...                                0.814655
std      0.499888  ...                                0.389417
min      0.000000  ...                                0.000000
25%      0.000000  ...                                1.000000
50%      1.000000  ...                                1.000000
75%      1.000000  ...                                1.000000
max      1.000000  ...                                1.000000

[8 rows x 17 columns]

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
y=dataset.loc[:,['party']].values

In [20]:
y[:5]

array([[1],
       [0],
       [1],
       [1],
       [1]])

In [0]:
x=dataset.iloc[:,1:].values

In [24]:
dataset.shape

(232, 17)

In [25]:
x.shape

(232, 16)

In [0]:
import sklearn

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [29]:
x_test.size

752

In [30]:
compiler=Sequential()

WARNING: Logging before flag parsing goes to stderr.
W0817 12:15:09.696118 140118646699904 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [31]:
compiler.add(Dense(64,input_shape=(16,),activation='relu'))

W0817 12:17:30.040247 140118646699904 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0817 12:17:30.055412 140118646699904 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [0]:
compiler.add(Dense(32,activation='relu'))

In [0]:
compiler.add(Dense(16,activation='relu'))

In [0]:
compiler.add(Dense(1,activation='sigmoid'))

In [35]:
compiler.compile(optimizer='adam',metrics=['accuracy'],loss='binary_crossentropy')

W0817 12:20:23.222675 140118646699904 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0817 12:20:23.252670 140118646699904 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0817 12:20:23.258284 140118646699904 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [42]:
compiler.fit(x_train,y_train,epochs=10,batch_size=20)
y_pred=compiler.predict(x_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)

Epoch 1/10
185/185 [==============================] - 0s 229us/step - loss: 0.1075 - acc: 0.9622
Epoch 2/10
185/185 [==============================] - 0s 230us/step - loss: 0.0915 - acc: 0.9622
Epoch 3/10
185/185 [==============================] - 0s 211us/step - loss: 0.0791 - acc: 0.9622
Epoch 4/10
185/185 [==============================] - 0s 209us/step - loss: 0.0738 - acc: 0.9784
Epoch 5/10
185/185 [==============================] - 0s 207us/step - loss: 0.0606 - acc: 0.9784
Epoch 6/10
185/185 [==============================] - 0s 224us/step - loss: 0.0534 - acc: 0.9892
Epoch 7/10
185/185 [==============================] - 0s 214us/step - loss: 0.0476 - acc: 0.9946
Epoch 8/10
185/185 [==============================] - 0s 184us/step - loss: 0.0425 - acc: 0.9946
Epoch 9/10
185/185 [==============================] - 0s 240us/step - loss: 0.0386 - acc: 0.9946
Epoch 10/10
185/185 [==============================] - 0s 202us/step - loss: 0.0361 - acc: 0.9946

In [43]:
cm

array([[21,  3],
       [ 1, 22]])

In [0]:
accuracy=(21+22)/(21+22+4)

In [45]:
accuracy

0.9148936170212766