<a href="https://colab.research.google.com/github/AkshayBhansali18/ML-Models/blob/master/SGD-From-Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
train_data=pd.read_csv('sample_data/california_housing_train.csv')

In [16]:
train_data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [17]:
train_data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [0]:
test_data=pd.read_csv('sample_data/california_housing_test.csv')

In [19]:
test_data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [20]:
len(test_data)

3000

In [0]:
x_train=train_data.iloc[:,:-1].values
y_train=train_data.iloc[:,-1].values
x_test=test_data.iloc[:,:-1].values
y_test=test_data.iloc[:,-1].values

In [22]:
type(y_train)

numpy.ndarray

In [23]:
num_parameters=len(x_train.T)
len(x_train.T)

8

In [24]:
x_train[0]

array([-1.1431e+02,  3.4190e+01,  1.5000e+01,  5.6120e+03,  1.2830e+03,
        1.0150e+03,  4.7200e+02,  1.4936e+00])

In [27]:
params=np.random.randn(8,1)
params

array([[-0.61819217],
       [-0.30912432],
       [ 0.33441705],
       [ 0.82085868],
       [-1.13657044],
       [-0.16507686],
       [-1.60644786],
       [ 1.63392867]])

In [0]:
lr=0.000001
for i in range (len(x_train)):
    x_train[i]=np.array(x_train[i])
    pred_val=np.matmul(x_train[i].reshape(1,8),params)
    cost=((1/2)*((y_train[i]-pred_val)**2))
    grad=params*((y_train[i]-pred_val))
    grad=lr*grad
    params=np.subtract(params,grad)
    if i%1000==0:
      print(i," Predicted value: ",pred_val," Actual Value: ",y_train[i]," Loss: ",cost)